table {
    border-collapse: collapse;
    margin: 25px auto
}

caption {
    font-size: 15px;
    background-color: rgb(255, 7, 193);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: rgb(255, 7, 193);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}